<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="EmpUtils.TestNGListeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/user/IdeaProjects/EmployeeController">
       <classes>
           <class name="EmpRunner.TestRunner"></class>

       </classes>
    </test>
</suite>